@import "../../App/style.scss";

// .about-us-container {
//     background-color: white;
//     height: fit-content;
//     color: #222;
// }

.about-us-container .team-container {
  text-align: center;
  margin-top: -60px;
}



.header {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  margin-bottom: 18px;
  color: #30233d;
  text-align: center;
}

.person-container {
  width: 19vw;
  top: -9.5vw;
  position: relative;
}

// .about-us-container .team-container .team-members
.person-container .person-name {
  width: 100%;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 21.6px;
  line-height: 35px;
  text-align: center;
  color: blue;
}

.person-container .person-title {
  width: 100%;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fcfcfc;
  opacity: 0.5;
}

.person-container .person-desc {
  margin-top: 18px;
  width: 100%;
  text-align: initial;
  // font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163.4%;
  color: #000000;
}

.person-container .person-title {
  width: 100%;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  // opacity: 0.5;
}

.team-members {
  // background-color: #0b6aff;
  margin-top: 200px;
  height: fit-content;
  height: -moz-fit-content;
  display: flex;
  justify-content: space-evenly;
}
.team-members .person-container {
  width: 19vw;
  top: -9.5vw;
  position: relative;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.sm-4 {
  width: 33.33333333%;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.thumbnail img p {
  margin: 0 0 10px;
}

.person-photo img {
  // position: absolute;
  margin: auto;
  width: 80%;
  height: 100%;
  object-fit: cover;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(13, 16, 45, 0.06), 0 0.9375rem 1.40625rem rgba(13, 16, 45, 0.06),
    0 0.25rem 0.53125rem rgba(13, 16, 45, 0.13), 0 0.125rem 0.1875rem rgba(13, 16, 45, 0.08);
}


.about-us-container .videos-area {
    display: flex;
    justify-content: flex-start;
    padding: 120px 0px 80px 80px;
    overflow-y: hidden;
    width: 100%;
  }
  
  .about-us-container .videos-area .video-container {
    padding: 0px 80px 0px 0px;
  }
  
  .about-us-container .videos-area .video-title {
    font-size: 18px;
    font-weight: bold;
  }

.ant-carousel .slick-slide img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 900px;
  width: 100%;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.about_us-container {
  background-color: white;
  height: fit-content;
  color: $text_color;

  .team-diagram {
    width: 100%;
    margin-bottom: -10px;
    background-color: white;
    padding-bottom: 100px;
  }

  .header_area {
    background-image: $banner_image;
    background-size: 100% 100%;
    color: white;
    height: 40vh;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .animation {
    .content__container {
      font-weight: 700;
      font-size: 200%;
      text-align: center;
      overflow: hidden;
      height: 60px;
      width: 900px;
      margin: auto;
      margin-top: 3vh;

      @media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 150%;
        height: 60px;
        width: 90%;
      }
    }

    .content__container__list {
      margin-top: 0;
      padding-left: 0px;
      text-align: center;
      list-style: none;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }

    .content__container__list__item {
      line-height: 60px;

      @media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
        line-height: unset;
        padding: 20px 0px;
      }
    }

    @-webkit-keyframes opacity {
      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @-webkit-keyframes change {
      0%,
      12.66%,
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      16.66%,
      29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
      }

      33.32%,
      45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
      }

      49.98%,
      62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
      }

      66.64%,
      79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
      }

      83.3%,
      95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
      }
    }

    @keyframes opacity {
      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @keyframes change {
      0%,
      12.66%,
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      16.66%,
      29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
      }

      33.32%,
      45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
      }

      49.98%,
      62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
      }

      66.64%,
      79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
      }

      83.3%,
      95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
      }
    }
  }

  .info-area {
    text-align: center;

    h2 {
      font-weight: bold;
      margin-top: 40px;
    }

    p {
      margin-top: 20px;
    }
  }
}
