@import "../../App/style.scss";

.column-addJob-form {
  margin: 8px 15px 15px 15px;
  padding: 8px 12px;
  text-align: center;
  max-width: 85%;
  height: 168px;
  color: rgb(150, 150, 150);
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  font-weight: 600;

  .ant-input,
  .ant-select-auto-complete.ant-select .ant-input {
    border: none;
    outline: none;
    background-color: rgb(249, 249, 249);
    color: rgb(100, 100, 100);
    font-weight: 500;
  }

  .ant-select-selection__placeholder {
    z-index: 10;
    color: rgb(194, 194, 194);
  }

  > div {
    margin-top: 13px;
  }

  .column-addJob-form-buttons-container {
    display: flex;
    justify-content: space-between;

    .column-addJob-form-button {
      border: none;
      background-color: transparent;
      font-size: 14px;
      color: black;
      cursor: pointer;
      outline: none;

      &.--addJob {
        font-weight: bold;
        color: rgb(132, 100, 239);
        background-color: transparent;
      }

      &.--button-disabled {
        opacity: 0.5;
        cursor: none;
        pointer-events: none;
      }
    }
  }
}
