@import "../../App/style.scss";

$column_header_height: 50px;
$column_header_height_add_job: 162px;
$rejected_button_height: 48px;
$column_parts_margin: 8px;
$column_max_width: 400px;
$column_min_width: 240px;
$amountChangeAnimationTransitionDuration: 0.3s;
$amountChangeAnimationZoomInScale: 1.2;
$amountChangeAnimationZoomOutScale: 0.8;
$addJobButtonAnimationTransitionDuration: 0.15s;
$addJobButtonAnimationZoomInScale: 1.03;

.column-big-container {
  margin: 0 auto;
  width: 100%;
  max-width: $column_max_width;
  min-width: $column_min_width;
  margin: 4px 8px 4px 0;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .column-ongoings-container {
    // background-color: rgb(238, 238, 238);
    background-color: #dee2e6;
    border-radius: 5px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &.--single {
      height: -webkit-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      height: -moz-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      height: calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      min-height: -webkit-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      min-height: -moz-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      min-height: calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      max-height: -webkit-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      max-height: -moz-calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
      max-height: calc(
        100% - #{$rejected_button_height} - #{$column_parts_margin}* 2
      );
    }

    &.--double {
      height: -webkit-calc(50% - #{$column_parts_margin});
      height: -moz-calc(50% - #{$column_parts_margin});
      height: calc(50% - #{$column_parts_margin});
      min-height: -webkit-calc(50% - #{$column_parts_margin});
      min-height: -moz-calc(50% - #{$column_parts_margin});
      min-height: calc(50% - #{$column_parts_margin});
      max-height: -webkit-calc(50% - #{$column_parts_margin});
      max-height: -moz-calc(50% - #{$column_parts_margin});
      max-height: calc(50% - #{$column_parts_margin});
    }

    &.--column-active {
      background-color: rgba(63, 129, 216, 0.3);
    }

    &.--column-dropable {
      background-color: rgba(63, 124, 216, 0.1);
    }

    .column-container {
      position: relative;
      display: flex;
      flex-direction: column;
      //flex-grow: 1;
      width: 105%;
      height: -webkit-calc(100%);
      height: -moz-calc(100%);
      height: calc(100%);
      min-height: -webkit-calc(100%);
      min-height: -moz-calc(100%);
      min-height: calc(100%);
      max-height: -webkit-calc(100%);
      max-height: -moz-calc(100%);
      max-height: calc(100%);

      .column-header-container {
        font-size: 20px;
        height: $column_header_height;
        font-weight: bold;
        max-width: 346.5px;
        min-width: 240px;
        padding-bottom: 8px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        position: relative;
        //background-color: rgb(238, 238, 238);
        z-index: 2;

        &.add-job-height {
          height: 220px;
        }

        .column-header {
          font-size: 14px;
          font-weight: 600;
          display: flex;
          justify-content: left;
          padding-left: 8px;

          &.column-icon {
            margin-top: 16px;

            img {
              height: 20px;
              width: auto;
            }
          }

          &.column-title {
            margin-top: 16px;
            margin-left: 8px;
            transition: transform $amountChangeAnimationTransitionDuration;
            -webkit-transition: transform
              $amountChangeAnimationTransitionDuration;
            -moz-transition: transform $amountChangeAnimationTransitionDuration;
            -o-transition: transform $amountChangeAnimationTransitionDuration;
            -ms-transition: transform $amountChangeAnimationTransitionDuration;

            &.--animation-increase {
              transform: scale($amountChangeAnimationZoomInScale);
              -webkit-transform: scale($amountChangeAnimationZoomInScale);
              -moz-transform: scale($amountChangeAnimationZoomInScale);
              -o-transform: scale($amountChangeAnimationZoomInScale);
              -ms-transform: scale($amountChangeAnimationZoomInScale);
            }

            &.--animation-decrease {
              transform: scale($amountChangeAnimationZoomOutScale);
              -webkit-transform: scale($amountChangeAnimationZoomOutScale);
              -moz-transform: scale($amountChangeAnimationZoomOutScale);
              -o-transform: scale($amountChangeAnimationZoomOutScale);
              -ms-transform: scale($amountChangeAnimationZoomOutScale);
            }
          }
        }
      }

      .column-body-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: -webkit-calc(100% - #{$column_header_height});
        height: -moz-calc(100% - #{$column_header_height});
        height: calc(100% - #{$column_header_height});
        min-height: -webkit-calc(100% - #{$column_header_height});
        min-height: -moz-calc(100% - #{$column_header_height});
        min-height: calc(100% - #{$column_header_height});
        max-height: -webkit-calc(100% - #{$column_header_height});
        max-height: -moz-calc(100% - #{$column_header_height});
        max-height: calc(100% - #{$column_header_height});

        .column-card-container {
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          flex-shrink: 1;

          &.middle {
            //max-height: 57%;
          }

          &.--short {
            height: -webkit-calc(100% - #{$column_header_height_add_job});
            height: -moz-calc(100% - #{$column_header_height_add_job});
            height: calc(100% - #{$column_header_height_add_job});
            min-height: -webkit-calc(100% - #{$column_header_height_add_job});
            min-height: -moz-calc(100% - #{$column_header_height_add_job});
            min-height: calc(100% - #{$column_header_height_add_job});
            max-height: -webkit-calc(100% - #{$column_header_height_add_job});
            max-height: -moz-calc(100% - #{$column_header_height_add_job});
            max-height: calc(100% - #{$column_header_height_add_job});
          }

          &.shortest {
            //max-height: 49%;
          }
        }

        .job-input-button {
          margin: 12px 16px 12px 12px;
          width: 86%;
          height: 30px;
          min-height: 30px;
          max-height: 30px;
          border-radius: 8px;
          background-color: white;
          text-align: center;
          cursor: pointer;
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
          transition: transform $addJobButtonAnimationTransitionDuration;
          -webkit-transition: transform $addJobButtonAnimationTransitionDuration;
          -moz-transition: transform $addJobButtonAnimationTransitionDuration;
          -o-transition: transform $addJobButtonAnimationTransitionDuration;
          -ms-transition: transform $addJobButtonAnimationTransitionDuration;

          .button-inside {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 180%;
            height: 100%;
            color: rgb(150, 150, 150);
          }
        }

        .job-input-button:hover {
          transform: scale($addJobButtonAnimationZoomInScale);
          -webkit-transform: scale($addJobButtonAnimationZoomInScale);
          -moz-transform: scale($addJobButtonAnimationZoomInScale);
          -o-transform: scale($addJobButtonAnimationZoomInScale);
          -ms-transform: scale($addJobButtonAnimationZoomInScale);
        }
      }
    }
  }

  .column-rejecteds-container {
    margin: $column_parts_margin auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 99%;
    overflow: hidden;

    &.--double {
      height: -webkit-calc(50% - #{$column_parts_margin});
      height: -moz-calc(50% - #{$column_parts_margin});
      height: calc(50% - #{$column_parts_margin});
      min-height: -webkit-calc(50% - #{$column_parts_margin});
      min-height: -moz-calc(50% - #{$column_parts_margin});
      min-height: calc(50% - #{$column_parts_margin});
      max-height: -webkit-calc(50% - #{$column_parts_margin});
      max-height: -moz-calc(50% - #{$column_parts_margin});
      max-height: calc(50% - #{$column_parts_margin});
    }

    .column-container {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: -webkit-calc(100% - #{$rejected_button_height});
      min-height: -moz-calc(100% - #{$rejected_button_height});
      min-height: calc(100% - #{$rejected_button_height});
      max-height: -webkit-calc(100% - #{$rejected_button_height});
      max-height: -moz-calc(100% - #{$rejected_button_height});
      max-height: calc(100% - #{$rejected_button_height});
      flex-shrink: 1;
      width: 105%;

      .column-body-container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        max-height: 100%;
        justify-content: space-between;
        position: relative;

        .column-card-container {
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          flex-shrink: 1;
        }
      }
    }

    .rejecteds-button {
      padding: 12px 20px;
      width: 100%;
      height: $rejected_button_height;
      min-height: 30px;
      max-height: 50px;
      background-color: white;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;

      .button-inside {
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 14px;
        height: 100%;
        color: black;
        transition: transform $amountChangeAnimationTransitionDuration;
        -webkit-transition: transform $amountChangeAnimationTransitionDuration;
        -moz-transition: transform $amountChangeAnimationTransitionDuration;
        -o-transition: transform $amountChangeAnimationTransitionDuration;
        -ms-transition: transform $amountChangeAnimationTransitionDuration;

        &.--animation-increase {
          transform: scale($amountChangeAnimationZoomInScale);
          -webkit-transform: scale($amountChangeAnimationZoomInScale);
          -moz-transform: scale($amountChangeAnimationZoomInScale);
          -o-transform: scale($amountChangeAnimationZoomInScale);
          -ms-transform: scale($amountChangeAnimationZoomInScale);
        }

        &.--animation-decrease {
          transform: scale($amountChangeAnimationZoomOutScale);
          -webkit-transform: scale($amountChangeAnimationZoomOutScale);
          -moz-transform: scale($amountChangeAnimationZoomOutScale);
          -o-transform: scale($amountChangeAnimationZoomOutScale);
          -ms-transform: scale($amountChangeAnimationZoomOutScale);
        }
      }

      .expand-arrow {
        height: auto;
        width: 20px;

        &.--horizontal-flip {
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
        }
      }
    }
  }
}
