@import "../../../../../../../App/style.scss";

.reviews-big-container {
  width: 100%;
  min-width: 100%;

  .reviews-container {
    width: 105%;
    min-width: 105%;
    max-height: 100%;
    overflow-x: hidden;

    .review-container {
      width: calc(100% * 100 / 105);
      height: fit-content;
      height: -moz-fit-content;
      margin-bottom: 15px;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid $line_color;
      font-weight: normal;

      .review-header {
        padding-bottom: 15px;

        .reviewer-name {
          font-size: 120%;
        }

        .header-bottom {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-height: 20px;

          .date {
            font-size: 12px;
            color: $gray_text_color;
            text-align: end;
          }
        }
      }

      .review-body {
        padding: 15px 0px 20px 0px;
        border-top: 1px solid $line_color;

        .review-body-interview {
          .interview-experience {
            margin-top: 12px;
          }
        }

        label {
          font-weight: 450;
          margin-right: 5px;
          color: $gray_text_color;
        }

        .not-specified {
          font-size: 90%;
          color: rgba(116, 116, 116, 0.4);
          font-style: italic;
          margin-left: 5px;
        }
      }
    }
  }
}
